<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">DC ERP App</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/buy">Buy</a>
            </li>
            <li *ngIf="auth.loggedIn"
                class="nav-item"
                routerLinkActive="active">
                <a class="nav-link" routerLink="/sale">Sale</a>
            </li>
            <li *ngIf="auth.loggedIn"
                class="nav-item"
                routerLinkActive="active">
                <a class="nav-link" routerLink="/users">User</a>
            </li>
        </ul>

        <button *ngIf="!auth.loggedIn"
                (click)="auth.login()"
                class="btn btn-outline-primary"> Ingresar </button>
        <button *ngIf="auth.loggedIn"
                (click)="auth.logout()"
                class="btn btn-outline-danger"> Salir </button>
    </div>
</nav>
