
<h1> <small>Crear Usuario</small> </h1>
<hr>


<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger"
                routerLink="/users">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar( f )"
              #f="ngForm">
            <div class="form-group">
                <label> ID</label>
                <input type="text"
                       class="form-control"
                       placeholder="Id"
                       [(ngModel)]="user.idUser"
                       name="id"
                       required>
            </div>


            <div class="form-group">
                    <label>Nombre</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre"
                           [(ngModel)]="user.userName"
                           name="nombre"
                           required>
            </div>

            <div class="form-group">
                    <label>Contraseña</label>
                    <input type="text"
                           class="form-control"
                           placeholder="contraseña"
                           [(ngModel)]="user.userPassword"
                           name="poder">
            </div>

            <hr>

            <div class="form-group text-center">
                <button type="submit"
                        class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
