<h1>Listado de Usuarios</h1>

<hr>

<div class="row">
    <div class="col text-right">
        <button routerLink="/user/nuevo"
                class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<table  *ngIf="!cargando && users.length > 0"
        class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ user.idUser }}</td>
            <td>{{ user.userName }}</td>
            <td>
                <button class="btn btn-info mr-1"
                        [routerLink]="['/user', user.idUser ]">
                    <i class="fa fa-pen"></i>
                </button>
                <button class="btn btn-danger"
                        (click)="borrarUser( user, i )">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
    </tbody>
</table>

<div *ngIf="!cargando && users.length === 0 " class="alert alert-warning text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">No hay registros</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
</div>

<div  *ngIf="cargando"
      class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>
